.git
.github
docs
bruno
**/node_modules
**/vendor
**/dist
**/.env
apps/web/test-results
apps/web/playwright-report
apps/web/playwright/.cache
apps/api/bootstrap/cache/*.php
apps/api/storage/logs/*.log
apps/api/storage/framework/cache/data/*
apps/api/database/*.sqlite
**/.DS_Store
